h1{
    text-align: center;
    font-size: bold;
    color: aqua;
}
header{
    background-color: black;
    border-radius: 30px;
    margin: 20px;
    padding: 0px;
}
.left{
    background-color: brown;
    font-size: small;
    padding-top: 5px;
}
.right{
    background-color: aqua;
    font-size: bold;
    
}