*{
    font-size: 35px;
}
h1{
    text-align: center;
    font-size: bold;
    color: aqua;
}
header{
    background-color: black;
    border-radius: 20px;
    margin: 20px;
    padding: 0px;
}
main{
    background-color: pink;
    border-radius: 10px;
    
}
